include *md
include bin/Gazee.py
include gazee/public/html/*html
include gazee/public/css/*css
include gazee/public/js/*js
include gazee/public/images/*png
include gazee/public/images/*ico
include gazee/*.py
