<%page args="comics1, comics2, comics3, maxht, maxwid" />
              <div id="threescreens" style="display: flex;width: 300vw;margin-left: -100vw;">
              <div id="screen_1" style="width: 100vw;">
% for comic in comics1:
                  <div class="outerguess" id="outcov${comic['Key']}" indexpg="${comic['IndexPage']}" style="height: ${maxht + 52}px; ${comic['DispStyle']}">
                    <figure style="width: ${maxwid}px;">
                      <a href="/read_comic?cid=${comic['Key'] | u}" id="image-link"></a>
                      <div id="cov${comic['Key']}" class="coverthumb" style="height: ${maxht}px; overflow: hidden; margin: 0px auto;">
                          <img class="smcover" cid="${comic['Key']}" style="max-height: ${maxht}px;" src="/cover?cid=${comic['Key']}">
                      </div>
                      <figcaption>
                        <div class="ucwrap" style="height: 45px">
                          <span class="uline">
                          <i class="material-icons dlicon" cid="${comic['Key']}" style="float: left;">file_download</i></a>
                          <i class="material-icons expicon" cid="${comic['Key']}" style="font-size: 12pt; float: right; font-weight: bold;">expand_less</i></a>
                          <div class="ubooktitle">
                            ${comic['ComicName'] | h} ${comic['ComicIssue'] | h}
                          </div>
                          </span>

                          <div class="sizepg">
                          <span class="pgclass" style="float:left;">Pages: ${comic['Pages']}</span>
                          <span class="szclass" style="float:right;">Size: ${comic['Size']}</span>
                          </div>

                          <div class="ubookpub">
                            Publisher: ${comic['PubName'] | h}
                          </div>
                          
                          <div class="ubookpath">
                            ${comic['RelPath'] | h}
                          </div>
  % if not comic['ComicSummary'] is None:
                          <div class="ubooksummary">
                          Summary: ${comic['ComicSummary']}
                          </div>
  % endif
                        </div>
                      </figcaption>
                    </figure>
                  </div>
% endfor
              </div>
              <div id="onscreencomics" style="width: 100vw;">
% for comic in comics2:
                  <div class="outerguess" id="outcov${comic['Key']}" indexpg="${comic['IndexPage']}" style="height: ${maxht + 52}px; ${comic['DispStyle']}">
                    <figure style="width: ${maxwid}px;">
                      <a href="/read_comic?cid=${comic['Key'] | u}" id="image-link"></a>
                      <div id="cov${comic['Key']}" class="coverthumb" style="height: ${maxht}px; overflow: hidden; margin: 0px auto;">
                          <img class="smcover" cid="${comic['Key']}" style="max-height: ${maxht}px;" src="/cover?cid=${comic['Key']}">
                      </div>
                      <figcaption>
                        <div class="ucwrap" style="height: 45px">
                          <span class="uline">
                          <i class="material-icons dlicon" cid="${comic['Key']}" style="float: left;">file_download</i></a>
                          <i class="material-icons expicon" cid="${comic['Key']}" style="font-size: 12pt; float: right; font-weight: bold;">expand_less</i></a>
                          <div class="ubooktitle">
                            ${comic['ComicName'] | h} ${comic['ComicIssue'] | h}
                          </div>
                          </span>

                          <div class="sizepg">
                          <span style="float:left;">Pages: ${comic['Pages']}</span><span style="float:right;">Size: ${comic['Size']}</span>
                          </div>

                          <div class="ubookpub">
                            Publisher: ${comic['PubName'] | h}
                          </div>
                          
                          <div class="ubookpath">
                            ${comic['RelPath'] | h}
                          </div>
  % if not comic['ComicSummary'] is None:
                          <div class="ubooksummary">
                          Summary: ${comic['ComicSummary']}
                          </div>
  % endif
                        </div>
                      </figcaption>
                    </figure>
                  </div>
% endfor
              </div>
              <div id="screen_3" style="width: 100vw;">
% for comic in comics3:
                  <div class="outerguess" id="outcov${comic['Key']}" indexpg="${comic['IndexPage']}" style="height: ${maxht + 52}px; ${comic['DispStyle']}">
                    <figure style="width: ${maxwid}px;">
                      <a href="/read_comic?cid=${comic['Key'] | u}" id="image-link"></a>
                      <div id="cov${comic['Key']}" class="coverthumb" style="height: ${maxht}px; overflow: hidden; margin: 0px auto;">
                          <img class="smcover" cid="${comic['Key']}" style="width: ${maxwid}px; max-height: ${maxht}px;" src="/cover?cid=${comic['Key']}">
                      </div>
                      <figcaption>
                        <div class="ucwrap" style="height: 45px">
                          <span class="uline">
                          <i class="material-icons dlicon" cid="${comic['Key']}" style="float: left;">file_download</i></a>
                          <i class="material-icons expicon" cid="${comic['Key']}" style="font-size: 12pt; float: right; font-weight: bold;">expand_less</i></a>
                          <div class="ubooktitle">
                            ${comic['ComicName'] | h} ${comic['ComicIssue'] | h}
                          </div>
                          </span>

                          <div class="sizepg">
                          <span style="float:left;">Pages: ${comic['Pages']}</span><span style="float:right;">Size: ${comic['Size']}</span>
                          </div>

                          <div class="ubookpub">
                            Publisher: ${comic['PubName'] | h}
                          </div>
                          
                          <div class="ubookpath">
                            ${comic['RelPath'] | h}
                          </div>
  % if not comic['ComicSummary'] is None:
                          <div class="ubooksummary">
                          Summary: ${comic['ComicSummary']}
                          </div>
  % endif
                        </div>
                      </figcaption>
                    </figure>
                  </div>
% endfor
              </div>
              </div>