<%page args="jscolor=False"/>
<head>
  <title>Gazee</title>
  <meta name="description" content="Gazee Base Mako Page - Made by Hubcaps / Jessi">
  <meta name="author" content="Hubcaps / Jessi">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Pragati+Narrow" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=BenchNine" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="static/css/style.css">
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="static/js/velocity.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  <script src="static/js/jquery.timeout.js"></script>
  <script src="static/js/js.cookie.js"></script>
</head>
