body { overflow-x: hidden; display: inline-block; text-align: center; width: 100%; }
div.helpdiv { margin: auto; padding-bottom: 35px; border: 2px solid black; border-radius: 6px; width: 650px; text-align: initial; padding: 0 10px 10px; position: relative; top: 100px; }
#recent-header { }

div.mtitle  { padding: 6px 0; }

div.helprow { padding: 3px 0; }

div.pagecent { display: inline-block; text-align: center; }

#pagination { padding-top: 10px; color: black; margin-bottom: 15px; }

span.paglink { padding: 0 10px; width: 40px; cursor: pointer; }
span.disabled { cursor: default; }
span.active { padding-right: 35px; }
span.active span.badge { font-size: 85%; }

i.ilink:hover {  color: #c0c0f0; cursor: pointer; }

span.keycmd { padding: 2px 5px; border: 1px solid black; border-radius: 4px; }
div.keycmd,div.keycmddoub { padding: 0 5px; border: 1px solid black; border-radius: 4px; display: inline-block; text-align: center; }
div.keycmd { width: 30px; }
div.keycmddoub { width: 60px; }

nav { display: inline-block; }

nav form { float: right; }
a.navbar-brand { float: left; }
div.outerguess {
    text-align: right;
}
div.outerguess:hover {
    background-color: #353535
}

ul.pagination {
    width: 100%;
    text-align: center;
}

ul.pagination li { padding: 0 10px }

.pagination li:hover {
    baclground-color: #ccf;
}

div.outerguess {
/*    height: 375px; */
    background: linear-gradient(45deg, rgba(0,0,0,1) 1%, rgba(22,22,22,1) 19%, rgba(92,92,92,1) 73%, rgba(128,128,128,1) 100%); /* w3c */
    color: #fff;
    margin: 5px;
    overflow: hidden;
    flex-wrap: wrap;
    display: inline-flex;
    vertical-align: top;
    border-radius: 13px;
    border: 5px solid #999;
    z-index: 20;
}

div.ucwrap {
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0;
    padding: 5px 6px;
    border-top: dotted 1px #989898;
    line-height: 1em;
    font-size: 1em;
    font-family: sans-serif;
}

div.ucover {
    color: #fff;
    font-size: 9pt;
    font-family: sans-serif;
    padding: 5px 5px 0;
    border-top: 1px #ddd dashed;
    text-align: left
}

div.sizepg {
    float: none;
    color: #d2d2d2;
    font-size: 7pt;
    font-family: sans-serif;
    display: flow-root;
    margin: 0 20px 5px;
}

img.smcover {
/*    max-height: 300px; */
    position: inherit;
    cursor: pointer;
}

figure {
    margin: 0
/*    width: 230px */
}

figcaption {
   margin: 0
}

#logo-wrapper {
    float: left;
}

nav { display: block; background-color: black; color: white; width: 100%;}


#search_field {
    background-color: white;
    width: 400px;
    border-radius: 4px;
    margin: 0;
    height: 30px;
    position: absolute;
    bottom: 8px;
    padding-left: 25px;
    right: -335px;
    color: #333;
}

#navtop,#footer {
    color: #fff;
    background-color: #191058;
    width: 100%;
}
#navtop { height: 50px; }
#footer { padding: 10px 0; font-size: 8pt; margin-top: 15px;}

label i {
    position: absolute;
    left: 100px;
    bottom: 0px;
}

div.nav-wrapper i { height: 50px; line-height: 50px; }

div.input-field i.icon-close { font-size: 1.7rem; color: #afafaf; }

div.srch { height: 50px; overflow: hidden; float: left; }

nav i.icon-close { position: absolute; color: #ccc; top: 1px; left: 140px; font-size: 15pt; }

div.ubooktitle { font-size: 10pt; font-family: 'BenchNine', sans-serif; display: block; text-align: center; }

div.ubookpath,div.ubookpub { font-size: 6pt; color: #d2d2d2; font-family: sans-serif; line-height: 7pt; text-align: center; }

div.ubooksummary { font-size: 7pt; color: #d2d2d2; padding-bottom: 5px; padding-top: 5px; text-align: justify; font-family: sans-serif; line-height: 10pt; margin: 10px; border-top: 1px solid #d2d2d2; border-bottom: 1px solid #d2d2d2; }

div.reader-whole { text-align: center; }

div.reader-overlay { display: block; width: 100%; object-fit: contain; }

img.reader-page-wide { width: 100%; }

img.reader-page-norm { max-height: 100vh; max-width: 100vw; }

img.reader-page-high { height: 1600px; }

span.uline i { font-size: 10pt; width: 15px; cursor: pointer; color: #e0e0e0; }

span.uline i:hover { color: #f0f000; }

img.pgone { margin-right: -2px; padding: 0; }
img.pgtwo { margin-left: -2px; padding: 0; }

div.row { margin-top: 5px; margin-bottom: 5px; }

div.col-2.helpbutton { position: relative; left: 15px; }

#roverlay { z-index: 10; position: fixed; width: 90%; background-color: transparent; left: 5%; height: 60px; }

span.leftmsg, span.rightmsg { background-color: black; color: white; padding: 10px 14px; font-family: monospace; font-size: 1.7em; border-radius: 50%; border: 2px solid white; }
span.leftmsg { float: left; }

span.rightmsg { float: right; }

btn { cursor: pointer; }

div.coverthumb { cursor: pointer; }

#threescreens { z-index: 20; }

#onscreencomics { display: inline; position: relative; }

#spindiv { z-index: 100; height: 180px; width: 200px; background: #004; text-align: center; position: fixed; padding-top: 10px; border-radius: 20px; opacity: 0.85; color: white; position: fixed; top: 37%; left: 44%; border: white solid 3px; color: white; }
#spindivmsg { padding: 30px 10px 0; font-family: sans-serif; font-size: 0.8em; padding-top: 30px; }
#spindiv img, #spindiv div { opacity: 1.0; }
  